*{margin:0;
padding:0;
} /*Não deixar que os itens da página atinjam as extremidades*/

hr{
    display: block;/*Não permite movimentação da linha*/
    margin-top: 0,5em;/*Espaçamento entre o topo da margen*/
    margin-bottom: 0,5em;/*Espaçamento entre a parte*/
    margin-left: auto;
    margin-right: auto;
    border-style: inset; /*Estilo da borda*/
    border-width: 1px; /*Largura da borda*/
    border-color: rgb(17, 221, 221); /*cor da borda*/

}

header img{/*Definições da imagem que estão dentro do cabeçalho*/
    width: 100px; /*Largura da imagem*/
    height: 100px; /*Altura da imagem*/
    margin: 10px /*margem da imagem*/
}

header h1{/*Definições do título que estão dentro do cabeçalho*/
color:rgb(0, 0, 0); /*Cor do texto*/
-webkit-text-stroke: 2px rgb(254, 254, 254); /*contorno do texto*/
padding-top: 30px;/*Espaçamento entre o topo e o texto*/
}
#menu ul{/*ID para lista*/
list-style: nome;/*Sem nenhum estilo na lista, tira pontos*/
margin-left: 600px;
}
#menu li{
    position: relative;/*Posição relativa do item da lista*/

}
#menu li a{
    color: rgb(72, 62, 135); /*cor do texto no menu*/
    text-decoration: none; /*Sem estilo no texto*/
    padding: 5px 40px; /*Espaçamento entre os textos no Menu*/
    display: block; /*Opções do menu bloqueadas na posição atual*/
}
#menu li a:hover{
    background: #9b9b9b; /*Fundo do efeito*/
    color: blue; /*Cor do texto bo efeito*/
    text-shadow: 0px 0px 5px #e48989; /*Sombra do efeito*/
}
#menu li ul{
    position:absolute;
    top: 25px; /*Espaçamento  do topo*/
    left: 0; /*Espaçamento da esquerda*/
    right: 50;
    background-color: #fff;
    display: none;
}
#menu li:hover ul, #menu li.over ul{
    display:block; /*Durante o efeito não moverá o menu*/
}
header, #menu, #menu ul{
    display: flex;
}
footer hr {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    margin-left: 1350px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; /*Largura da borda*/
    border-color: rgb(13, 214, 214); /*Cor da borda*/
}

  footer img{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    }

    footer h1{
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    margin-left: 1350px;
    padding-bottom: 15px;
    }
